
templates/archive/.DS_Store
templates/archive/astrowind/
templates/archive/responsive-portfolio-website-Alexa/.DS_Store
templates/archive/responsive-portfolio-website-Alexa/assets/.DS_Store
templates/archive/responsive-portfolio-website-Alexa/assets/css/styles.css
templates/archive/responsive-portfolio-website-Alexa/assets/css/swiper-bundle.min.css
templates/archive/responsive-portfolio-website-Alexa/assets/img/about.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/blob.svg
templates/archive/responsive-portfolio-website-Alexa/assets/img/perfil.png
templates/archive/responsive-portfolio-website-Alexa/assets/img/portfolio1.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/portfolio2.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/portfolio3.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/project.png
templates/archive/responsive-portfolio-website-Alexa/assets/img/testimonial1.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/testimonial2.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/img/testimonial3.jpg
templates/archive/responsive-portfolio-website-Alexa/assets/js/main.js
templates/archive/responsive-portfolio-website-Alexa/assets/js/swiper-bundle.min.js
templates/archive/responsive-portfolio-website-Alexa/assets/pdf/Alexa-Cv.pdf
templates/archive/responsive-portfolio-website-Alexa/index.html
templates/archive/responsive-portfolio-website-Alexa/preview.png
templates/archive/responsive-portfolio-website-Alexa/README.md
templates/archive/responsive-portfolio-website-Alexa/Text Portfolio Alexa.txt
templates/pr2tik1.github.io-main/_quarto.yml
templates/pr2tik1.github.io-main/_site/about.html
templates/pr2tik1.github.io-main/_site/images/black-bg.png
templates/pr2tik1.github.io-main/_site/images/DP.png
templates/pr2tik1.github.io-main/_site/images/logo.png
templates/pr2tik1.github.io-main/_site/index.html
templates/pr2tik1.github.io-main/_site/license.html
templates/pr2tik1.github.io-main/_site/listings.json
templates/pr2tik1.github.io-main/_site/posts/electron-js/gui-app.html
templates/pr2tik1.github.io-main/_site/posts/hierarchical/Plotly-Sunburst.html
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification.html
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-13-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-16-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-22-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-25-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-29-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-30-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-32-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-34-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-35-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-40-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-41-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-43-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-44-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/loan-status-eda-classification_files/figure-html/cell-54-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds.html
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-10-output-2.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-11-output-2.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-29-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-30-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-32-output-1.png
templates/pr2tik1.github.io-main/_site/posts/kaggle/titanic-survival-eda-feature-engineering-preds_files/figure-html/cell-33-output-1.png
templates/pr2tik1.github.io-main/_site/posts/pandas-numpy/game-of-life.html
templates/pr2tik1.github.io-main/_site/posts/post-images/1.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/10.png
templates/pr2tik1.github.io-main/_site/posts/post-images/10.webp
templates/pr2tik1.github.io-main/_site/posts/post-images/11.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/190124.jpeg
templates/pr2tik1.github.io-main/_site/posts/post-images/2.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/3.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/4.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/5.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/6.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/7.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/8.jpg
templates/pr2tik1.github.io-main/_site/posts/post-images/dockers.jpeg
templates/pr2tik1.github.io-main/_site/posts/post-images/seventeen.jpeg
templates/pr2tik1.github.io-main/_site/posts/r-package-mgt/r-package-mgt.html
templates/pr2tik1.github.io-main/_site/posts/remote-extension/remote-containers.html
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-1.png
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-2.png
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-3.png
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-4.png
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-5.png
templates/pr2tik1.github.io-main/_site/posts/system-design/images/paste-6.png
templates/pr2tik1.github.io-main/_site/posts/system-design/parking-lot.html
templates/pr2tik1.github.io-main/_site/posts/system-design/short-url.html
templates/pr2tik1.github.io-main/_site/posts/system-design/webserver.html
templates/pr2tik1.github.io-main/_site/robots.txt
templates/pr2tik1.github.io-main/_site/search.json
templates/pr2tik1.github.io-main/_site/site_libs/bootstrap/bootstrap-icons.css
templates/pr2tik1.github.io-main/_site/site_libs/bootstrap/bootstrap-icons.woff
templates/pr2tik1.github.io-main/_site/site_libs/bootstrap/bootstrap.min.css
templates/pr2tik1.github.io-main/_site/site_libs/bootstrap/bootstrap.min.js
templates/pr2tik1.github.io-main/_site/site_libs/clipboard/clipboard.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/anchor.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/popper.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/quarto-syntax-highlighting.css
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/quarto.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/tippy.css
templates/pr2tik1.github.io-main/_site/site_libs/quarto-html/tippy.umd.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-listing/list.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-listing/quarto-listing.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-nav/headroom.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-nav/quarto-nav.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-search/autocomplete.umd.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-search/fuse.min.js
templates/pr2tik1.github.io-main/_site/site_libs/quarto-search/quarto-search.js
templates/pr2tik1.github.io-main/_site/styles.css
templates/pr2tik1.github.io-main/_site/trademark.html
templates/pr2tik1.github.io-main/about.qmd
templates/pr2tik1.github.io-main/docs/images/black-bg.png
templates/pr2tik1.github.io-main/docs/index.html
templates/pr2tik1.github.io-main/docs/site_libs/bootstrap/bootstrap-icons.css
templates/pr2tik1.github.io-main/docs/site_libs/bootstrap/bootstrap-icons.woff
templates/pr2tik1.github.io-main/docs/site_libs/bootstrap/bootstrap.min.css
templates/pr2tik1.github.io-main/docs/site_libs/bootstrap/bootstrap.min.js
templates/pr2tik1.github.io-main/docs/site_libs/clipboard/clipboard.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/anchor.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/popper.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/quarto-syntax-highlighting.css
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/quarto.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/tippy.css
templates/pr2tik1.github.io-main/docs/site_libs/quarto-html/tippy.umd.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-nav/headroom.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-nav/quarto-nav.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-search/autocomplete.umd.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-search/fuse.min.js
templates/pr2tik1.github.io-main/docs/site_libs/quarto-search/quarto-search.js
templates/pr2tik1.github.io-main/docs/styles.css
templates/pr2tik1.github.io-main/images/bg-banner.png
templates/pr2tik1.github.io-main/images/black-bg.png
templates/pr2tik1.github.io-main/images/devexp.png
templates/pr2tik1.github.io-main/images/dice-1.png
templates/pr2tik1.github.io-main/images/dice-2.png
templates/pr2tik1.github.io-main/images/dice-3.png
templates/pr2tik1.github.io-main/images/dice-4.png
templates/pr2tik1.github.io-main/images/dice-5.png
templates/pr2tik1.github.io-main/images/dice-6.png
templates/pr2tik1.github.io-main/images/DP.png
templates/pr2tik1.github.io-main/images/logo.png
templates/pr2tik1.github.io-main/images/profile-1.png
templates/pr2tik1.github.io-main/index.qmd
templates/pr2tik1.github.io-main/install.sh
templates/pr2tik1.github.io-main/LICENSE
templates/pr2tik1.github.io-main/license.qmd
templates/pr2tik1.github.io-main/posts/data/adult-census-numeric-all.csv
templates/pr2tik1.github.io-main/posts/data/adult-census-numeric-test.csv
templates/pr2tik1.github.io-main/posts/data/adult-census-numeric.csv
templates/pr2tik1.github.io-main/posts/data/adult-census.csv
templates/pr2tik1.github.io-main/posts/data/adult_data.csv
templates/pr2tik1.github.io-main/posts/data/bike_rides.csv
templates/pr2tik1.github.io-main/posts/data/blood_transfusion.csv
templates/pr2tik1.github.io-main/posts/data/cps_85_wages.csv
templates/pr2tik1.github.io-main/posts/data/dummy_data.csv
templates/pr2tik1.github.io-main/posts/data/house_prices.csv
templates/pr2tik1.github.io-main/posts/data/penguins.csv
templates/pr2tik1.github.io-main/posts/data/penguins_classification.csv
templates/pr2tik1.github.io-main/posts/data/penguins_regression.csv
templates/pr2tik1.github.io-main/posts/data/README.md
templates/pr2tik1.github.io-main/posts/data/Sunburst_Chart.json
templates/pr2tik1.github.io-main/posts/electron-js/gui-app.txt
templates/pr2tik1.github.io-main/posts/hierarchical/Plotly-Sunburst.qmd
templates/pr2tik1.github.io-main/posts/input/house-prices-advanced-regression-techniques/test.csv
templates/pr2tik1.github.io-main/posts/input/house-prices-advanced-regression-techniques/train.csv
templates/pr2tik1.github.io-main/posts/input/loan-prediction-problem-dataset/test_Y3wMUE5_7gLdaTN.csv
templates/pr2tik1.github.io-main/posts/input/loan-prediction-problem-dataset/train_u6lujuX_CVtuZ9i.csv
templates/pr2tik1.github.io-main/posts/input/titanic/gender_submission.csv
templates/pr2tik1.github.io-main/posts/input/titanic/test.csv
templates/pr2tik1.github.io-main/posts/input/titanic/train.csv
templates/pr2tik1.github.io-main/posts/kaggle/basics-of-cnn-in-pytorch.txt
templates/pr2tik1.github.io-main/posts/kaggle/house-prices-prediction.txt
templates/pr2tik1.github.io-main/posts/kaggle/loan-status-eda-classification.qmd
templates/pr2tik1.github.io-main/posts/kaggle/logistic-regression-in-pytorch-from-scratch.txt
templates/pr2tik1.github.io-main/posts/kaggle/multi-layered-perceptron-pytorch.txt
templates/pr2tik1.github.io-main/posts/kaggle/titanic-survival-eda-feature-engineering-preds.qmd
templates/pr2tik1.github.io-main/posts/pandas-numpy/game-of-life.txt
templates/pr2tik1.github.io-main/posts/post-images/1.jpg
templates/pr2tik1.github.io-main/posts/post-images/10.png
templates/pr2tik1.github.io-main/posts/post-images/10.webp
templates/pr2tik1.github.io-main/posts/post-images/11.jpg
templates/pr2tik1.github.io-main/posts/post-images/2.jpg
templates/pr2tik1.github.io-main/posts/post-images/3.jpg
templates/pr2tik1.github.io-main/posts/post-images/4.jpg
templates/pr2tik1.github.io-main/posts/post-images/5.jpg
templates/pr2tik1.github.io-main/posts/post-images/6.jpg
templates/pr2tik1.github.io-main/posts/post-images/7.jpg
templates/pr2tik1.github.io-main/posts/post-images/8.jpg
templates/pr2tik1.github.io-main/posts/r-package-mgt/r-package-mgt.qmd
templates/pr2tik1.github.io-main/posts/remote-extension/remote-containers.qmd
templates/pr2tik1.github.io-main/posts/system-design/images/paste-1.png
templates/pr2tik1.github.io-main/posts/system-design/images/paste-2.png
templates/pr2tik1.github.io-main/posts/system-design/images/paste-3.png
templates/pr2tik1.github.io-main/posts/system-design/images/paste-4.png
templates/pr2tik1.github.io-main/posts/system-design/images/paste-5.png
templates/pr2tik1.github.io-main/posts/system-design/images/paste-6.png
templates/pr2tik1.github.io-main/posts/system-design/parking-lot.txt
templates/pr2tik1.github.io-main/posts/system-design/short-url.txt
templates/pr2tik1.github.io-main/posts/system-design/webserver.txt
templates/pr2tik1.github.io-main/README.md
templates/pr2tik1.github.io-main/requirements.txt
templates/pr2tik1.github.io-main/styles.css
templates/pr2tik1.github.io-main/trademark.qmd
templates/pr2tik1.github.io-main/.DS_Store
templates/pr2tik1.github.io-main/images/.DS_Store
templates/pr2tik1.github.io-main/pratik-site/.DS_Store
